<div class="post">
	<div class="header">
		<h1>Post title</h1>

		<button routerLink="/" class="btn btn-link">На головну</button>
	</div>

	<div class="info">
		<strong>Автор</strong>
		<small>12.09.2019</small>
	</div>

	<div>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur repudiandae asperiores eligendi, eius excepturi
			aut fuga magni magnam reprehenderit libero doloribus debitis labore laborum perspiciatis ad illum cumque in!
			Necessitatibus temporibus quo earum dolor nulla saepe veritatis, odio, a doloremque maxime culpa, voluptates quod
			magnam quisquam voluptatum error numquam natus?</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur repudiandae asperiores eligendi, eius excepturi
			aut fuga magni magnam reprehenderit libero doloribus debitis labore laborum perspiciatis ad illum cumque in!
			Necessitatibus temporibus quo earum dolor nulla saepe veritatis, odio, a doloremque maxime culpa, voluptates quod
			magnam quisquam voluptatum error numquam natus?</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur repudiandae asperiores eligendi, eius excepturi
			aut fuga magni magnam reprehenderit libero doloribus debitis labore laborum perspiciatis ad illum cumque in!
			Necessitatibus temporibus quo earum dolor nulla saepe veritatis, odio, a doloremque maxime culpa, voluptates quod
			magnam quisquam voluptatum error numquam natus?</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur repudiandae asperiores eligendi, eius excepturi
			aut fuga magni magnam reprehenderit libero doloribus debitis labore laborum perspiciatis ad illum cumque in!
			Necessitatibus temporibus quo earum dolor nulla saepe veritatis, odio, a doloremque maxime culpa, voluptates quod
			magnam quisquam voluptatum error numquam natus?</p>
	</div>
</div>