<form class="card" [formGroup]="form" (ngSubmit)="submit()">
	<div class="card__title">
		<h2>Введіть дані для авторизації</h2>
	</div>

	<div class="alert alert-danger" *ngIf="auth.error$ |async as error">
		{{ error | exMarks }}
	</div>

	<div class="card__inputs">
		<div class="form-control">
			<label>E-mail</label>
			<input type="text" formControlName="email">
			<div *ngIf="form.get('email')!.invalid && form.get('email')!.touched" class="validation">
				<small *ngIf="form.get('email')!.errors?.['required']">
					Поле 'E-mail' не може бути пустим.
				</small>
				<small *ngIf="form.get('email')!.errors?.['email']">
					Введіть коректний e-mail.
				</small>
			</div>
		</div>

		<div class="form-control">
			<label>Password</label>
			<input type="password" formControlName="password">
			<div *ngIf="form.get('password')!.invalid && form.get('password')!.touched" class="validation">
				<small *ngIf="form.get('password')!.errors?.['required']">
					Поле 'Password' не може бути пустим.
				</small>
				<small *ngIf="form.get('password')!.errors?.['minlength']">
					Довжина пароля повинна бути не менше {{form.get('password')!.errors?.['minlength'].requiredLength}} символів.
					Кількість символів зараз - {{form.get('password')!.errors?.['minlength'].actualLength}}
				</small>
			</div>
		</div>
	</div>

	<div class="card__button">
		<button class="btn" type="submit" [disabled]="form.invalid || submitted">Увійти</button>
	</div>
</form>